static/external_libs/tags_input/* linguist-vendored
static/external_libs/emoji/css/* linguist-vendored
static/external_libs/emoji/js/* linguist-vendored
static/external_libs/css-element-quries/* linguist-vendored
