{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container text-left">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success" name="upload" type="submit" value="Upload">
                <span class="fas fa-check" aria-hidden="true"></span>
                <span><strong>Login</strong></span>
            </button>
        </form>
    </div>
{% endblock %}