<input id="id_latitude" value="{{ object.latitude }}" hidden>
<input id="id_longitude" value="{{ object.longitude }}" hidden>
<div class="p-3 form-group rounded" id="map" style="height: 300px"></div>

<script>
    function initMap() {
        var lat_tag = document.getElementById('id_latitude');
        var lng_tag = document.getElementById('id_longitude');
        var lat = "", lng = "";
        if (lat_tag != null && lng_tag != null) {
            lat = lat_tag.value;
            lng = lng_tag.value;
        }
        var placeMarker = true;
        var zoom = 9;
        if (lat === "" || lng === "") {
            lat = 50.3785;
            lng = 14.9706;
            placeMarker = false;
            zoom = 4;
        }
        var position = {lat: parseFloat(lat), lng: parseFloat(lng)};
        map = new google.maps.Map(document.getElementById('map'), {
            center: position,
            zoom: zoom,
            streetViewControl: false
        });
        if (placeMarker) {
            placeMarkerAndPanTo(position, map);
        }

        function placeMarkerAndPanTo(position, map) {
            if (marker) {
                marker.setPosition(position);
            } else {
                marker = new google.maps.Marker({
                    position: position,
                    map: map,
                });
            }
            map.panTo(position);
        }
    }
</script>