{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Upload Image{% endblock %}



{% block content %}
    <div class="container w-75 p-3">
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="text-left">
            {{ form.image|as_crispy_field }}
        </div>
        <input class="btn btn-primary" type="submit" value="Upload an Image">
    </form>

    <script>
        $('#id_image').on('change', function () {
            var fileName = $(this).val();
            if (fileName === "") {
                fileName = "Choose file";
            }
            $(this).next('.custom-file-label').html(fileName);
        })
    </script>
    </div>

{% endblock %}
