{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Upload Image{% endblock %}


{% block content %}
    <form action="." method="post" onsubmit="getMarkerPosition()">
        {% include 'image/image_with_faces.html' %}

        <div class="p-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12" style="max-width: none;">

                        <div class="text-left">

                            <div class="lead emoji-picker-container form-group">
                                {% render_field form.body rows="5" placeholder="Write down your memories!" data-emojiable="true" data-emoji-input="unicode" class="form-control textarea-control" %}
                            </div>

                            {{ form.tags|as_crispy_field }}

                            {% if object.datetime_taken == None %}
                                {{ form.datetime_taken|as_crispy_field }}
                            {% endif %}

                            {% include 'image/../map/map.html' %}

                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-success" name="upload" type="submit" value="Upload">
                                <span class="fas fa-plus-circle" aria-hidden="true"></span>
                                <span><strong>Upload</strong></span>
                            </button>
                            <button class="btn btn-secondary" name="cancel" type="submit" value="Cancel" formnovalidate>
                                <span class="fas fa-times-circle" aria-hidden="true"></span>
                                <span><strong>Cancel</strong></span>
                            </button>
                        </div>


                    </div>

                </div>

            </div>
        </div>

        {% csrf_token %}
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script>
        $(function () {
            // Initializes and creates emoji set from sprite sheet
            window.emojiPicker = new EmojiPicker({
                emojiable_selector: '[data-emojiable=true]',
                assetsPath: '/static/emoji/img',
                popupButtonClasses: 'fa fa-smile-o'
            });
            // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
            // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
            // It can be called as many times as necessary; previously converted input fields will not be converted again
            window.emojiPicker.discover();
        });
    </script>

{% endblock %}
