{% extends 'base.html' %}
{% load list_tags %}
{% block title %}Posts{% endblock %}

{% block content %}
    <div class="container post_list_container">
        {% if tag %}
            <h2>Images tagged with "{{ tag.name }}"</h2>
        {% elif person %}
            <h2>Images tagged with "{{ person.full_name }}"</h2>
        {% else %}
            <h2>All images</h2>
        {% endif %}
        <p class="text-left text">Total photos: {{ object_list|length }}</p>

        <div class="flex-container text-center">

            {% for object in object_list %}
                <div class="transparent-container">
                    <img class="thumb-img" src="{{ object.thumbnail.url }}"/>

                    <div class="overlay p-3 cursor" style="display:inline-block; overflow: hidden"
                         onclick="location.href='{% url 'image:image-detail' object.slug %}';">
                        <div class="container h-100">
                            <div class="row align-items-center h-100">
                                <div class="col-12 mx-auto">
                                    <div class="text-center" style="overflow: hidden">

                                        <div class="form-group">
                                            {% for tag in object.tags.all %}

                                                <a href="{% url 'image:image-post-list-by-slug' tag.slug %}"
                                                   class="badge badge-success custom-tag tag"
                                                   onclick="location.href='#'; event.stopPropagation();">
                                                    {{ tag.name }}
                                                </a>

                                            {% endfor %}
                                        </div>

                                        <div class="form-group">
                                            {% for face in object.facemodel_set.all %}
                                                {% if face.person != None %}

                                                    <a href="{% url 'image:image-post-list-by-person' face.person.slug %}"
                                                       class="badge badge-primary person-tag tag"
                                                       onclick="location.href='#'; event.stopPropagation();">
                                                        {{ face.person }}
                                                    </a>

                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>

    </div>



{% endblock %}