{% extends 'base.html' %}
{% load static %}
{% load filters %}
{% block title %}Shared Image Detail{% endblock %}


{% block content %}
    <div class="container w-75 p-3">
        {% include 'image/image/image_with_faces_non_editable.html' %}

        <div class="card card-block content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12" style="max-width: none;">

                        <div class="text-left p-4">

                            <p class="minor-text">
                                Published {{ object.publish }}
                            </p>

                            {% if object.datetime_taken != None %}
                                <p class="minor-text">
                                    Taken {{ object.datetime_taken }}
                                </p>
                            {% endif %}

                            <div class="form-group">
                                {% for tag in object.tags.all %}
                                    <a href="{% url 'image:shared-by-tag' tag.slug %}"
                                       class="badge badge-success tag">{{ tag.name }}</a>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                {{ object.body|markdown }}
                            </div>

                            {% if object.latitude != None %}
                                <div class="p-3 ">
                                    {% include 'image/../map/map_non_editable.html' %}
                                </div>
                            {% endif %}
                            <a href="{% url 'image:shared-delete' object.slug %}"
                               class="btn btn-danger a-btn-slide-text">
                                <span class="fas fa-minus-circle" aria-hidden="true"></span>
                                <span><strong>Delete</strong></span>
                            </a>
                            <div class="float-right">
                                <a href="{{ object.image.url }}"
                                   class="btn btn-info a-btn-slide-text" download>
                                    <span class="fas fa-cloud-download-alt" aria-hidden="true"></span>
                                    <span><strong>Download</strong></span>
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8L1pvQjk6yfaK8EbkdlAqLvRAJewSCXE&callback=initMap"
            async defer></script>
    <script src="{% static 'js/map/map_manager.js' %}"></script>
{% endblock %}