{% extends 'base.html' %}
{% load static %}
{% load list_tags %}
{% block title %}Image Detail{% endblock %}


{% block content %}
    <div class="container w-75 p-3">
        {% include 'image/image/image_with_faces_non_editable.html' %}

        <div class="card card-block content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12" style="max-width: none;">

                        <div class="text-left p-4">

                            <p class="minor-text">
                                Published {{ object.publish }}
                            </p>

                            {% if object.datetime_taken != None %}
                                <p class="minor-text">
                                    Taken {{ object.datetime_taken }}
                                </p>
                            {% endif %}

                            <div class="form-group">
                                {% for tag in object.tags.all %}
                                    <a href="{% url 'image:shared-by-tag' tag.slug %}"
                                       class="badge badge-success">{{ tag.name }}</a>
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                {{ object.body|markdown }}
                            </div>

                            {% if object.latitude != None %}
                                <div class="p-3 ">
                                    {% include 'image/../map/map_non_editable.html' %}
                                </div>
                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8L1pvQjk6yfaK8EbkdlAqLvRAJewSCXE&callback=initMap"
            async defer></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}