{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'css/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="w-75 p-3 col-center text-center">
    {% include 'partials/messages.html' %}
</div>
<div>
    <form action="." method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Upload an Image">
    </form>
</div>


</body>
</html>